*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 16px;
  letter-spacing: 0.93px;
  color: white !important;

  /* background-image: url('./Asstets/stars-and-clouds-at-nighttime-1229042.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center; */
  background-color: white !important;
  min-height: 100vh !important;
  overflow: hidden;
}

h1, h2, h3, h4,h5 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
